.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 55px;
    margin: 80px 170px;
}

.contact-title h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 0 30px;
    letter-spacing: 4px;
}

.contact-section {
    display: flex;
    gap: 100px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(90deg, teal, lime);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    max-width: 550px;
    color: lightgray;
    font-size: 20px;
    line-height: 35px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: lightgray;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-detail span {
    font-size: 32px;
}

.contact-detail p {
    font-size: 22px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.contact-right label {
    color: lightgray;
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 700px;
    height: 60px;
    padding-left: 20px;
    border-radius: 4px;
    background: rgb(44, 44, 44);
    color: lightgray;
    font-family: Outfit;
    font-size: 20px;
    outline: none;
}

.contact-right textarea {
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: rgb(44, 44, 44);
    color: lightgray;
    font-family: Outfit;
    font-size: 20px;
    outline: none;
}

.contact-submit {
    border: none;
    font-family: Pacifico;
    border-radius: 50px;
    background: linear-gradient(90deg, teal 30%, lime);
    font-size: 24px;
    padding: 10px 50px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .contact {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title h1 {
        padding: 0;
    }
    .contact-section {
        flex-direction: column;
    }
    .contact-left h1 {
        font-size: 55px;
    }
    .contact-left p {
        font-size: 18px;
    }
    .contact-detail span {
        font-size: 25px;
    }
    .contact-detail p{
        font-size: 18px;
    }
    .contact-right label {
        font-size: 20px;
    }
    .contact-right input {
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea {
        width: 95%;
        font-size: 20px;
    }
}

@media (max-width: 505px) {
    .contact {
        margin: 50px 30px;
    }
    .contact-right input {
        width: 95%;
    }
    .contact-right textarea {
        width: 88%;
    }
}