.main {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/home-background.png");
    background-position: center;
    background-attachment: fixed;
    padding: 30px 100px;
}

.back-button {
    color: rgb(228, 197, 158);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: -90px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    height: 100%;
    max-width: 1500px;
    background-color: rgb(50, 44, 43);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 black;
}

@media (max-width: 700px) {
    .main {
        padding: 30px;
    }
    .back-button {
        margin-left: 0;
    }
}

.title {
    text-align: center;
    color: rgb(175, 130, 96);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sub-title {
    color: rgb(128, 61, 59);
    font-weight: bold;
    font-size: 24px;
}

.image-main {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.book-icon {
    height: 150px;
    width: fit-content;
}

.title-text {
    font-size: 40px;
    font-weight: bold;
    padding-top: 45px;
    padding-left: 20px;
    text-decoration: none;
    color: rgb(50, 44, 43);
}

.content-us {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 197, 158);
    padding: 20px;
    border-radius: 15px;
}

.about-us-text {
    color: rgb(50, 44, 43);
    font-weight: 550;
    font-size: 18px;
}