.feedback {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../images/home-background.png);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    left: 0;
    right: 0;
    padding: 50px;
}

.feedback-text {
    color: rgb(228, 197, 158);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.uname, .email, .feedback-subject {
    font-family: Exo, Arial;
    font-size: 15px;
    padding: 10px;
    width: 400px;
    margin: 5px;
    border: 10px solid rgb(50, 44, 43);
    outline: none;
}

.feedback-subject {
    height: 100px;
}

.submit-button {
    font-size: 24px;
    font-family: Exo, Arial;
    font-weight: bold;
    background-color: rgb(228, 197, 158);
    color: rgb(50, 44, 43);
    border: none;
    padding: 8px;
    width: 300px;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.submit-button:hover {
    opacity: 0.9;
}