.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(175, 130, 96);
    height: auto;
    padding: 10px 30px;
}

.foot-left-side, .foot-right-side {
    margin-top: 20px;
}

.foot-button {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    color: rgb(50, 44, 43);
    cursor: pointer;
}