.home {
    display: grid;
    grid-template-columns: 1fr;
    left: 0;
    bottom: 0;
    height: 700px;
    margin-top: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../../images/home-background.png");
    background-position: center;
    background-attachment: fixed;
    color: rgb(228, 197, 158);
}

.home-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
}

.quote, .quoter {
    font-family: Pacifico, Arial;
    font-weight: 100;
}

.quote {
    font-size: 56px;
}

.quoter {
    font-size: 32px;
    padding-left: 400px;
    margin-bottom: 30px;
}

.go-to-course {
    font-family: Exo, Arial;
    padding-top: 4px;
    font-size: 23px;
    font-weight: bold;
    width: 150px;
    background-color: rgb(50, 44, 43);
    color: rgb(228, 197, 158);
    height: 75px;
    border: none;
    border-radius: 45px;
    transition: 0.5s;
}

.go-to-course:hover {
    scale: 1.05;
    background-color: rgb(70, 63, 61);
}

.go-to-course:active {
    scale: 0.98;
}